#heading {
  margin-top: 25px;
  text-align: center;
}

#form {
  width: 30%;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 50px;
  background-color: #f2f2f2;
}

#input_one {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#input_two {
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

#plus, #minus, #multiply, #divide {
  box-sizing: border-box;
  font-size: 25px;
  padding: 10px 20px;
  background-color: bisque;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

#plus, #minus, #multiply {
  margin-right: 20px;
}

#clear {
  padding: 10px 15px;
  background-color: aquamarine;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

#output {
  box-sizing: border-box;
  text-align: center;
  padding: 10px 50px;
  width: 250px;
  height: 50px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
}
